[Unit]
Description=tiffanyBlue Server
After=syslog.target network.target

[Service]
WorkingDirectory=/opt/tiffanyBlue
ExecStart=/opt/tiffanyBlue/tiffanyBlue

User=root
Group=root


[Install]
WantedBy=multi-user.target
